.onboard {
  font-family: "Trebuchet MS", sans-serif;
}

.onboard-head {
  color: rgb(0, 98, 255);
}
.onboarding-text {
  font-size: 0.8rem;
  color: rgb(0, 98, 255);
  font-weight: 500;
}
